@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --secondary: #284260;
  --secondary-foreground: #ffffff;
  --primary: #1ca7c8;
  --primary-foreground: #ffffff;
  --foreground: #6e859f;
  --button-disabled: #9d9d9d;

  --font-chakra-petch: "Chakra Petch", sans-serif;
  --font-inter: Inter, sans-serif;
}

.dark {
  --primary: #1ca7c8;
  --primary-foreground: #ffffff;
  --background: #0a0a0a;
  --foreground: #dae0e6;
  --secondary: #284260;
  --secondary-foreground: #ffffff;
  --button-disabled: #e6e6e6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-button-disabled: var(--button-disabled);
  --font-inter: var(--font-inter);
  --font-chakra-petch: var(--font-chakra-petch);
}

@layer base {
  * {
    @apply font-inter;
  }
  body {
    @apply bg-background text-foreground;
  }
}
